@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fdf291;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fdf291;
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-concert-one), Arial, Helvetica, sans-serif;
}
